.container {
    background-color: rgb(255, 105, 128);
    padding: 0px 0px;
}
body {
    padding: 20px 0; 
    
}
.header{
	padding: 0px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.welcome {
    font-size: 18px;
    font-weight: bold;
}

.icons {
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column; /* Display icon and text vertically */
    align-items: center; /* Center items horizontally */
    margin-left: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: translateY(-2px);
}

.icon img {
    width: 30px;
    height: 30px;
}

.icon span {
    font-size: 16px;
    margin-top: 5px;
    color: #333;
    font-weight: bold;
}


.content {
    display: flex;
    justify-content: space-between; /* This will space the sections evenly */
    width: 80%; /* Adjust the width as needed */
    margin-top: 20px; /* Add some margin at the top */
}

.section {
    flex: 1; /* Each section takes equal space */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px; /* Add some margin between sections */
}

@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Stack sections vertically on smaller screens */
    }
}
.recently {
    margin-right: 100px; /* Add margin to the right */
}

